.reveal .slides h1 {
  font-size: 1.8em !important;
}
.reveal .slides h2 {
  font-size: 1.4em !important;
}
.reveal .slides h3 {
  font-size: 1.1em !important;
}


.reveal .slides section {
  text-align: left;
}


.reveal pre code {
  background: #f5f5f5 !important; /* fond très clair */
  color: #222 !important;         /* texte foncé */
  border-radius: 6px;
  padding: 0.5em 0.8em;
  font-size: 1em;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

/* largeur des zones de code */
.reveal pre {
  max-width: 95vw;
  width: auto;
}

.reveal code {
  color: #105088; /* bleu foncé */
}
.reveal strong, .reveal b {
  color: #105088; /* bleu foncé */
}

