<!DOCTYPE html>
<html>
<head>
    <title>Add user</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="page-card">
        <h1>Ajouter un utilisateur</h1>
        <form action="{{ url_for('create_user_controller') }}" method="POST">
            <input type="text" name="username">
            <button type="submit">Valider</button>
        </form>
        <p><a href="{{ url_for('index_controller') }}">Retour à l'accueil</a></p>
    </main>
</body>
</html>

